.btn{
    cursor: pointer;
    border-radius: var(--size-border);
    font-size: 18px;
    padding:10px 20px;
    white-space: nowrap;
    font-family: 'Nanum Pen Script';
    background-color:var(--color-btn-default);
    color:var(--color-btn-text);
}
.btn-positive{
    background-color:var(--color-btn-positive);
   
}
.btn-negative{
    background-color:var(--color-btn-negative);
    
}
