.btn{
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding:10px 20px;
    white-space: nowrap;
    font-family: 'Nanum Pen Script';
    background-color:gray;
    color:white;
}
.btn-positive{
    background-color:green;
   
}
.btn-negative{
    background-color:red;
    
}
