.EmotionItem{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
cursor: pointer;
border-radius:var(--size-border);
padding: var(--size-padding);
}

.EmotionItem img {
    width: 50%;
    margin-bottom: 10px;
}
.emotion-name{
    font-size: 18px;
}
.is-EmotionItem-off{
    background-color: var(--color-gray);
    
}
/* --color:white를 하나만 쓰게 할수 없을까? --*/
.is-EmotionItem-on-1{
    background-color:#64c964;
    color:white;
}
.is-EmotionItem-on-2{
    background-color:#9dd772;
    color:white;
}
.is-EmotionItem-on-3{
    background-color:#fdce17;
    color:white;
}
.is-EmotionItem-on-4{
    background-color:#fd8446;
    color:white;
}
.is-EmotionItem-on-5{
    background-color:#fd565f;
    color:white;
}
