header{
    display: flex;
    align-items: center;
    padding-top:var(--size-padding);
    padding-bottom:var(--size-padding);
    border-bottom: 1px solid var(--color-border);
   
}
.header-left{
    width: 25%;
    justify-content:first;
}

.header-title{
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

.header-right{
    width: 25%;
    justify-content: end;
}
