.ly_viewer section{
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 22px;
    font-weight: bold;
}
/*이미지 섹션*/
.emotion_img_wrapper{
    background-color: var(--color-gray);
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

.emotion_img_wrapper_1{
    background-color:#64c964;
}
.emotion_img_wrapper_2{
    background-color:#9dd772;
}
.emotion_img_wrapper_3{
    background-color:#fdce17;
}
.emotion_img_wrapper_4{
    background-color:#fd8846;
}
.emotion_img_wrapper_5{
    background-color:#fd565f;
}

.emotion_descript{
    font-size: 25px;
    color:white;
}
/* 콘텐츠 섹션*/
.content_wrapper{
    width: 100%;
    background-color:var(--color-gray);
    border-radius:5px;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.content_wrapper p{
    padding:20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Yeon Sung';
    font-weight: 400;
    line-height: 2.5;
}
